<h1> Generate a payment! 263.90 </h1>

  <form action="/payment">
    <label for="APR">Select an APR</label>
    <input id="APR" name="user_apr">

    <label for="years">Number of years</label>
    <input id="years" name="user_years">

    <label for="PV">Principal</label>
    <input id="PV" name="user_pv">
    <button>Calculate monthly payment</button>
  </form>
