<h1> Generate a payment! </h1>

  <form action="/payment/">
    <label for="APR1">Select an APR</label>
    <input id="APR1" name="APR">
    <label for="years1">Number of years</label>
    <input id="years1" name="years">
    <label for="PV1">Principal</label>
    <input id="PV1" name="PV">
    <button>Calculate monthly payment</button>
  </form>
