<h1> Generate a random number! </h1>

  <form action="/random/">
    <label for="high">Maximum</label>
    <input id="high" name="high">
    <label for="low">Minimum</label>
    <input id="low" name="low">
    <button>Pick random number</button>
  </form>
